*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.sectionOne-header{
    background-image: url(../../components/assets/ronaldo-background-image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 13rem 12rem/ 0rem 0rem ;
    height: 50rem;
    display:block;
    width:100%;
    object-fit: cover;
}
.sectionOne-header > h1{
    margin:0px 3rem 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.sectionOne-header > h1{
    color:#F7D7C8;
}
.sectionOne-header > p {
    color:rgb(173, 153, 154);
    text-align: left;
    width: 40rem;
    padding:.5rem;
    height:10rem;
    margin:0px auto 2rem;
    font-size: 1.5rem;
}

.imageStyle{
    border-radius: 7rem 3rem/ 7rem 2rem;
    display:block;
    width:40%;
    height:25rem;
    object-fit: cover;
    margin:0px auto;
    
}

.linkStyle{
color:#e4bca6;
}
.sectionOne-main-child{
    display:flex;
    width:80%;
    justify-content: space-between;
    margin:0px auto;
    background-image: url(../../components/assets/ronaldo-dark-mode.jpg);
    background-size: cover;
    height: 40rem;

}
.sectionOne-main-child > p{ 
    width: 30rem;; 
    padding:.5rem;
} 

.sectionOne-main-child > p:first-child {
    color:rgb(241, 213, 215);  
    height:10rem;
    font-size: 2rem;
    margin:3rem 0px 0px -8.5rem;

}    
.sectionOne-main-child > p:first-child + p {
    color:#FFF9E2;  
    height:20rem;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1350px) {
    .sectionOne-header{
        background-image: url(../../components/assets/ronaldo-background-image.jpg);
         display:block;
        width:100%;
    }
      .sectionOne-header > p {
      color:rgb(157, 149, 149);
    width: 30rem;
    }
    .sectionOne-main-child{
    background-image: none;
    background-color: black;
    display: block;
    margin-bottom: 15rem;
    }

  .sectionOne-main-child > p:first-child {
    margin:3rem auto 20rem ;
}   } 


@media only screen and (max-width: 600px) {
      .sectionOne-header {
            background-size: contain;
        height: 30rem;
        }
     .sectionOne-header > p {
      color:rgb(157, 149, 149);
    width: 15rem;
    }
      
      .sectionOne-main-child > p:first-child {
    font-size: 1.4rem;
     width: 15rem;
     margin:3rem auto 18rem ;
}  
}  
   .sectionOne-main-child > p:first-child + p {
    font-size: 1.4rem;
     width: 17rem;
     
}  


    @media only screen and (max-width: 500px) {
        
  
      .sectionOne-main-child > p:first-child {
    font-size: 1.3rem;
}  
   .sectionOne-main-child > p:first-child + p {
    font-size: 1.3rem;
}  

}
 




 
